body {
  font-family: "helvetica", sans-serif;
  margin: 0px;
}
h1 {
  display:inline;
  margin-left: 1em;
}
header {
  padding:1em;
}
main img {
  width: 100%;
}
#catbug {
  float:right;
  width:50px;
}
